<div style="text-align: center;">
    <h1>Braden Smith</h1>
    <h3>C# .NET Software Developer</h3>
    <h5>St. Louis, MO | bradenasmith@icloud.com | <a href="https://www.linkedin.com/in/braden-smith2/">LinkedIn</a> | <a href="https://github.com/bradenasmith2">GitHub</a></h5>
</div>

<br />

<ul style="font-size: 20px; list-style: none; margin-top: 50px;">
    <li style="margin-bottom: 15px;">
        Hey there, I'm Braden, and my journey into the software development world has been a long time coming. I've been keeping a close eye on the industry for years, and now I'm thrilled to be diving headfirst into the action.
    </li>
    <li style="margin-bottom: 15px;">
        My toolkit is pretty versatile—I've got experience in SQL, C#, CSS, JavaScript, HTML, APIs, MVC, and OOP. Currently, I'm all about front-end development, with a special focus on mastering JavaScript. But, my roots are firmly planted in the back-end where I love tackling the nitty-gritty of controller logic.
    </li>
    <li style="margin-bottom: 15px;">
        Beyond the code, I'm deeply involved in the world around me and I try my best to support anyone who could use a helping hand. Through programming I feel I am able to make a difference in the products I contribute to, by providing users (or developers) a clean, friendly interface with easy-to-understand features.
    </li>
    <li style="margin-bottom: 15px;">
        One thing I'm particularly passionate about is coaching. I genuinely enjoy guiding others to find their own solutions rather than just handing them the answers. This coaching mindset has been a big part of my work, especially when onboarding new hires in previous roles and assisting classmates during my time at Turing.
    </li>
    <li style="margin-bottom: 15px;">
        So, whether I'm knee-deep in coding challenges or advocating for change in my community, my journey is all about continuous learning, collaboration, and making a meaningful difference. I'm not just a software developer; I'm someone who believes in the power of code to create positive change in the world.
    </li>
</ul>
