<div style="text-align: center;">
    <h1>Braden Smith</h1>
    <h3>C# .NET Software Developer</h3>
    <h5>St. Louis, MO | bradenasmith@icloud.com | <a href="https://www.linkedin.com/in/braden-smith2/">LinkedIn</a> | <a href="https://github.com/bradenasmith2">GitHub</a></h5>
</div>

<br />

<ul style="font-size: 20px; list-style: none; margin-top: 50px;">
    <li style="margin-bottom: 15px;">
        I am writing to express my strong interest in the JOB TITLE position at COMPANY. As a company dedicated to providing ethical financial services and investment management, I am enthusiastic about the opportunity to contribute to your mission. I am a self-motivated software engineer with a passion for continuous learning and a deep interest in exploring new programming languages. With a well-rounded background in back-end software development and a unique perspective gained from my non-traditional educational journey, I believe I am well-equipped to make a meaningful impact on COMPANY's innovative projects and team. My dedication to pushing boundaries and adapting to new challenges aligns seamlessly with the values of COMPANY.
    </li>
    <li style="margin-bottom: 15px;">
        My proficiency in collaboration, and organization aligns well with the requirements of the JOB TITLE position at COMPANY. These qualities have been honed through months of projects where I've demonstrated my ability to work within diverse teams and manage complex tasks with precision. These projects not only required technical expertise but also effective communication and teamwork, which resulted in streamlined processes and increased productivity. My solid knowledge of C#, SQL, HTML, and CSS, which I've continually expanded through my dedication to learning, positions me well to contribute to COMPANY's innovative projects.
    </li>
    <li style="margin-bottom: 15px;">
        I'm excited about the chance to delve deeper into how my abilities and background, encompassing teamwork, meticulous planning, and productivity, can smoothly mesh with your team. Furthermore, my unwavering commitment to continually enhancing my technical know-how presents a valuable contribution to your organization's cutting-edge projects. I want to extend my appreciation for evaluating my application for the JOB TITLE role at COMPANY. Your time in assessing my qualifications is greatly appreciated.
    </li>
</ul>
