<link href="/css/custom-css.css" rel="stylesheet"/>
@{
    ViewData["Title"] = "Home Page";
}
<div class="hs-info">
    <img class="headshot" src="https://media.licdn.com/dms/image/D5603AQGA3yieeW9xmg/profile-displayphoto-shrink_200_200/0/1690300080608?e=1704931200&v=beta&t=uS05p8iNd8oPNXvvyMEtTwbOsyHHEkk3O5UYSVNChz0" />
    <ul class="info">
        <li><a href="https://www.linkedin.com/in/braden-smith2/">LinkedIn</a></li>
        <li><a href="https://github.com/bradenasmith2">GitHub</a></li>
    </ul>
</div>
<div>
    <h2>Braden Smith</h2>
</div>