<div style="text-align: center;">
<h1>Braden Smith</h1>
<h3>C# .NET Software Developer</h3>
<h5>St. Louis, MO | bradenasmith@icloud.com | <a href="https://www.linkedin.com/in/braden-smith2/">LinkedIn</a> | <a href="https://github.com/bradenasmith2">GitHub</a></h5>
</div>

<h3>Overview</h3>
<h5>I am a results-driven backend software developer with a growing interest in front-end development. My expertise lies in designing and implementing scalable and efficient backend solutions, and delivering comprehensive end-to-end solutions. I am dedicated to continuous self-improvement and staying at the forefront of software development advancements.</h5>
<br />

<h3>Technical Skills</h3>
<ul style="font-size: 16px;">
    <li>C#</li>
    <li>ASP.NET Core MVC</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>RESTful Routes</li>
    <li>APIs</li>
    <li>PostgreSQL</li>
    <li>Object-Oriented Programming</li>
</ul>
<br />

<h3>Projects</h3>
<h5><a href="#">SceneSherpa</a></h5>
<ul style="list-style: none;">
    <li>SceneSherpa is an MVC web application that allows users to CRUD an account and track their media consumption through the use of three lists: media they want to watch, media they have watched, and media that they are watching. In addition to being able to edit their lists, users are able to add reviews to media that they have seen, allowing other users to view their rating and review directly from the media's page.</li>
</ul>
<ul>
    <li>3 Contributors</li>
</ul>
<ul>
    <li>Tech Stack</li>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>HTML/CSS/JavaScript</li>
        <li>C#</li>
    </ul>
</ul>

<br />

<h3>Professional Experience</h3>
<ul>
    <li style="font-size: 20px;">BestBuy</li>
    <ul>
        <li>
            While working at Best Buy as part of the inventory team, I consistently maintained high productivity metrics and accumulated extensive experience in organizing products both on a large and small scale.
        </li>
    </ul>
</ul>

<ul>
    <li style="font-size: 20px;">Savers</li>
    <ul>
        <li>During my tenure at the thrift store, I took on a leadership role within my department, overseeing daily operations, and actively contributed to team expansion and onboarding. Additionally, as a challenge to myself, and the benefit of others, I learned all roles of the departments in the store so that I was able to help anyone if needed.</li>
    </ul>
</ul>

<br />

<h3>Education</h3>
<ul>
    <li style="font-size: 20px;">Turing School of Software and Design - Launch</li>
    <ul>
        <li style="font-size: 16px;">Current</li>
    </ul>
    <li style="font-size: 20px;">O’Fallon Township High School, O’Fallon IL</li>
    <ul>
        <li style="font-size: 16px;">Graduated December 2020</li>
    </ul>
</ul>