<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bradenasmith</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bradenasmith.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/external.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">bradenasmith</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Me</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Resume">Resume</a>
                                <a class="dropdown-item" href="/CoverLetter">Cover Letter</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://www.linkedin.com/in/braden-smith2/">
                                    <span class="icon-and-text">LinkedIn <i class="gg-external" style="width: 8px; height: 8px; margin-left: 8px;"></i></span>
                                </a>
                                <a class="dropdown-item" href="https://github.com/bradenasmith2">
                                    <span class="icon-and-text">GitHub <i class="gg-external" style="width: 8px; height: 8px; margin-left: 8px;"></i></span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Projects</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Projects/jcepriano/SceneSherpa">Scene Sherpa</a>
                                <a class="dropdown-item" href="/Projects/bradenasmith2/MvcMessageLogger-bs">Message Logger</a>
                                <a class="dropdown-item" href="#">TBD</a>
                                <a class="dropdown-item" asp-controller="Projects" asp-action="Index">View All</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Today I Learned</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Blogs/Dependency-Injection">Dependency Injection</a>
                                <a class="dropdown-item" href="#">Blog 2</a>
                                <a class="dropdown-item" href="#">Blog 3</a>
                                <a class="dropdown-item" asp-controller="BlogPosts" asp-action="Index">View All</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - bradenasmith - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
