<link href="~/css/HomePage.css" rel="stylesheet"/>
<link href="/css/project.css" rel="stylesheet" />

@model Project
@{
    string readme = ViewData["Readme"] as string;
}

<div class="headers" style="text-align: center;">
    <h1>@Model.Name</h1>
    <h2>@Model.Description</h2>
    <h4>ID: @Model.Id</h4>
</div>

<div class="readme">
    @Markdown.ParseHtmlString(Model.Content)
</div>